/*
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZES (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights: 
Default: 400
- medium: 500
- Semi-Bold: 600 
- Bold: 700

--- Line Height:
Default: 1
- Small: 1.05
- medium:  1.2
-Paragraph Defaults: 1.6

--- LETTER SPACING:
- -0.5
- 
--- 02 COLOR

- Primary: 
#047be1 #05a4f3
- sub-heading:
  #b3daf8
- Tints:
#b4d7f6
- Shades:


- Accents:
- Greys: 


--- 03 SHADOWS 

--- 04 BORDER RADUIS
- Default: 12
- medium: 

--- 05WHITESPACE

- Space system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does't work on safari */
  /* scroll-behavior: smooth; */
}

body {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;

  /* only works if nothing is absolutly positioned
  in relatio to the body */
  overflow-x: hidden;
  color: #fff;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/************************/
/* GENERAL REUSABLE COMPONENT */
/************************/
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btns {
  display: flex;
  gap: 1.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;

  cursor: pointer;
  transition: all 0.3s;
}
.btn-primary {
  background-color: #fff;
  color: #047be1;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.btn-secondary {
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.btn-secondary:hover,
.btn-secondary:active {
  color: #047be1 !important;
  background-color: #fff;
}
.btn-section {
  display: block !important;
  width: fit-content;
  font-size: 1.8rem !important;
  padding: 1.2rem 3.2rem !important;
  color: rgb(4, 123, 225);
  background-color: #fff;
  font-weight: 800;
}
.btn-section:hover,
.btn-section:active {
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}
.primary-heading {
  font-size: 5.2rem;
  color: #fff;
  margin-bottom: 3.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

.sub-heading {
  display: block;
  color: rgb(179, 218, 248);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}
.secondary-heading,
.secondary-heading-2 {
  color: #fff;
  font-size: 4.4rem;
  margin-bottom: 6.4rem;
  position: relative;
}
.secondary-heading::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 4px;
  border-radius: 3rem;
  width: 45rem;
  top: 50%;
  /* transform: translateY(-50%); */
  margin-left: 4.5rem;
}
/* .grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
} */
.grid {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 0;
  row-gap: 9.6rem;
}
.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid-4-cols {
  grid-template-columns: 1fr 1fr 2fr 2fr;
}
/* 
.heading-primary,
.heading-secondary {
  color: #45260a; 
  color: #333;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
} */ ;
