/* rem and em do NOT depend on html font-size in media queries 
instead, 1rem = 1em = 16px  */

/************************/
/* BELOW 1344px (smaller desktops) */
/************************/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
}

/************************/
/* BELOW 1200px (landscape tablets) */
/************************/
@media (max-width: 75em) {
  html {
    font-size: 54% !important;
  }
}

/************************/
/* BELOW 944px (tablets) */
/************************/
@media (max-width: 59em) {
  html {
    /* 8px / 16px */
    font-size: 50% !important;
  }
}

/************************/
/* BELOW 704px (smaller tablets) */
/************************/
@media (max-width: 50em) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero .text-box {
    padding: 0 8rem;
  }
  .secondary-heading,
  .sub-heading {
    text-align: center;
  }
  .community-img {
    width: 100%;
  }
  .img-box img {
    max-width: 70%;
  }
  .btns {
    justify-content: center;
  }
  .footer .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-links {
    grid-row: 1;
    grid-column: 1/-1;
  }
  .download {
    grid-row: 2;
    grid-column: -4/-1;
  }
  .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 2;
  }
  .about-cup {
    width: 14rem;
  }
  .special-cup {
    width: 18rem;
  }
  .special-ball {
    width: 22rem;
  }
  .bill {
    width: 23rem;
    left: -8rem;
  }
  .cup {
    width: 12rem;
  }
  .microphone {
    width: 14rem;
  }
  .world {
    width: 22rem;
    top: 55rem;
  }
  .secondary-heading::after,
  .sub-heading::after,
  .sub-heading::before,
  .get-heading::after,
  .get-heading::before {
    display: none;
  }

  /* MOBILE NAV */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(4, 122, 225, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* hide nav */
    /* display: none; */

    /* hide nav visually */
    opacity: 0;

    /* make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* hide it from screen reader */
    visibility: hidden;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .main-nav-list {
    flex-direction: column;
    font-size: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .logo-link {
    z-index: 1000;
  }
}
/************************/
/* BELOW 544px (Phones) */
/************************/
@media (max-width: 34em) {
  html {
    font-size: 45% !important ;
  }
  .hero .text-box {
    padding: 0 0rem;
  }
  .secondary-heading {
    font-size: 3.2rem;
  }
  .sub-heading {
    font-size: 1.2rem;
  }
  .about-text-box {
    text-align: center;
    padding-bottom: 6.4rem;
  }
  .about-cup {
    width: 11rem;
    top: 8rem;
  }
  .special-cup {
    width: 13.5rem;
  }
  .special-ball {
    width: 12rem;
    top: 4rem;
  }
  .btn-section {
    display: inline-block !important;
  }
  .img-box img {
    max-width: 100%;
  }
  .grid-2-cols {
    grid-template-columns: 1fr;
  }
  .special-heading-box::after {
    font-size: 2.8rem;
  }
  .tips-text {
    width: 36rem;
    margin: 2.5rem auto;
  }
  .secondary-heading-2 {
    font-size: 3.1rem;
  }
  .btns {
    justify-content: center;
  }
  .btns {
    display: flex;
    gap: 1.8rem;
    flex-direction: column;
  }
  .about-img {
    width: 100%;
  }
  .bill {
    width: 16rem;
    top: 10rem;
  }
  .cup {
    width: 8rem;
  }
  .microphone {
    width: 10rem;
  }
  .world {
    width: 15rem;
    top: 63rem;
    right: -5.2rem;
  }
  .section-get {
    display: block;
  }
  textarea {
    flex: none;
    height: 12rem;
  }
  .get-form {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}
