/************************/
/* HEADER */
/************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
}

.logo {
  width: 12rem;
  -webkit-filter: drop-shadow(0px 0px 10px #b3daf8c6);
  filter: drop-shadow(0px 0px 10px #b3daf8c6);
}

.main-nav-list,
.footer-list {
  list-style: none;
  display: flex;
  gap: 6.4rem;
}

/* STICKY NAV */
.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #047be1;
  z-index: 99999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
/************************/
/* NAVEGATION */
/************************/

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #b4d7f6;
}

.nav-btn {
  padding: 1rem 3.2rem;
  border-radius: 12px;
  font-size: 1.8rem;
  transition: all 0.3s;
}
/*-----------------------*/
.background {
  background-image: linear-gradient(#047be1 50%, #05a4f3);
}
/* mobile nav */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1000;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/************************/
/* HERO SECTION */
/************************/
.section-hero {
  padding: 9.6rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.img-box img {
  max-width: 100%;
}

/************************/
/* ABOUT SECTION */
/************************/
.section-about {
  padding: 9.6rem 0;
  position: relative;
}
.about-absolute-img {
  position: absolute;
  z-index: 10;
  transform: rotate(-25deg);
  width: 16rem;
}
.absolute-img-right {
  right: -2.5rem;
  top: -3rem;
}
.absolute-img-left {
  left: -2.5rem;
  top: -3rem;
}
.about-img {
  width: 40rem;
}
.about-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.special-heading-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 350rem;
}
.special-heading-box {
  position: relative;
}
.pri-special-heading::after {
  content: "All in one place";
}
.sec-special-heading::after {
  content: "Here's some tips to be the boss";
}
.sec-special-heading img {
  width: 400rem;
}
.special-heading-box::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  font-weight: 500;
}
/************************/
/* lineup SECTION */
/************************/
.section-lineup {
  padding: 9.6rem 0 0;
}
.special-cup {
  transform: rotate(30deg);
  width: 20rem;
  left: -5rem;
}
.special-ball {
  width: 29rem;
  right: -4.5rem;
  top: 1rem;
}
.section-tactic {
  padding: 9.6rem 0 6.4rem;
}
/************************/
/* tips SECTION */
/************************/
.section-tips {
  margin-top: -4rem;
  background-image: linear-gradient(
      rgba(44, 157, 255, 0.7),
      rgba(44, 157, 255, 0.7)
    ),
    url("../imgs/tips-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 60rem;
}
.section-tips img {
  height: 60rem;
  opacity: 0.5;
}
.tips-img-right {
  position: absolute;
  right: 0;
}
.tips-text-box {
  width: 70rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inline-btn {
  display: inline-block !important;
}

/************************/
/* tips SECTION */
/************************/
.community-section {
  background-image: linear-gradient(
    rgba(254, 186, 41, 25) 5%,
    rgba(255, 141, 19, 255) 95%
  );
  position: relative !important;
  text-align: center;
  padding: 6.4rem 0;
}
.community-section .sub-heading {
  color: #047be1;
}
.community-section .secondary-heading-2 {
  color: #047be1;
}
.community-img {
  width: 80rem;
  margin-top: -3rem;
}
.community-section a {
  margin-top: 2rem;
}
.community-section .sub-heading {
  position: relative !important;
}
.community-section .sub-heading::before,
.community-section .sub-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 25rem;
  border-radius: 30px;
  background-color: #047be1;
}
.community-section .sub-heading::after {
  margin-left: 5rem;
}
.community-section .sub-heading::before {
  margin-left: -30rem;
}

.bill {
  width: 30rem;
  top: 15rem;
  left: -10rem;
  transform: rotate(-20deg);
}
.cup {
  width: 15rem;
  top: 42rem;
  right: -3.5rem;
  transform: rotate(-23deg);
}
/************************/
/* GET IN TOUCH SECTION */
/************************/
.section-get {
  background-image: linear-gradient(
      rgba(44, 157, 255, 0.7),
      rgba(44, 157, 255, 1)
    ),
    url("../imgs/get-in-touch.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 12.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-heading {
  text-align: center;
}
.get-heading::after,
.get-heading::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 16.5rem;
  border-radius: 30px;
  background-color: #fff;
}
.get-heading::after {
  margin-left: 5rem;
}
.get-heading::before {
  margin-left: -21.5rem;
}
.get-form {
  width: 70rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
input,
textarea {
  background-color: rgb(101, 191, 241);
  border: none;
  padding: 1.6rem 2.2rem;
  border-radius: 9px;
  color: #fff;
  font-size: 1.8rem;
  font-family: inherit;
  transition: 0.3s;
}
input:focus,
textarea:focus {
  outline: 8px solid rgba(255, 255, 255, 0.2);
}
input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}
input[type="submit"] {
  margin-top: auto;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #047be1;
  font-weight: 700;
}
input[type="submit"]:hover {
  background-color: rgb(5, 164, 243);
  color: #fff;
}
textarea {
  flex: 1;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.world {
  width: 26rem;
  top: 35rem;
  transform: none;
  right: -8rem;
}
.microphone {
  width: 18rem;
  transform: rotate(-7deg);
  top: 1rem;
}
.hero img,
.about-cup,
.special-cup,
.special-ball,
.microphone,
.world,
.bill,
.cup {
  -webkit-filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.2));
}
/************************/
/* FOOTER */
/************************/
.footer {
  padding: 6.4rem;
}
.social-links {
  display: flex;
  gap: 0.8rem;
}
.footer-social-link {
  font-size: 2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.footer-social-link:hover,
.footer-social-link:active {
  color: #fff;
}

.download-img {
  width: 12rem;
}
.footer-list {
  gap: 3.2rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  transition: 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #b4d7f6;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.go-up-link {
  margin-right: auto;
}
.go-up {
  width: 5rem;
}
.download {
  display: flex;
  gap: 0.5rem;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}
