/************************/
/* HEADER */
/************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  width: 12rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 6.4rem;
}

/************************/
/* NAVEGATION */
/************************/

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #b4d7f6;
}

.nav-btn {
  padding: 1rem 3.2rem;
  border-radius: 12px;
  font-size: 1.8rem;
  transition: all 0.3s;
}
/*-----------------------*/
.background {
  background-image: linear-gradient(#047be1 50%, #05a4f3);
  padding: 0 0 6.4rem 0;
}
/************************/
/* HERO SECTION */
/************************/
.section-hero {
  padding: 9.6rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  align-items: center;
}

.hero-desctiption {
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.img-box img {
  max-width: 100%;
}

/************************/
/* ABOUT SECTION */
/************************/
.section-about {
  /* padding: 9.6rem 0 9.6rem 0; */
  position: relative;
}
.about-absolute-img {
  position: absolute;
  right: -2.5rem;
  top: -3rem;
  z-index: 10;
  transform: rotate(-25deg);
  width: 16rem;
}
.about-img {
  width: 40rem;
}
.about-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.heading-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 350rem;
}
.heading-text-box {
  position: relative;
}
.heading-text-box::after {
  content: "All in one place";
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  font-weight: 500;
}
